.github/ export-ignore
benchmarks/ export-ignore
tests/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
codecov.yml export-ignore
infection.json export-ignore
phpbench.json export-ignore
phpstan.neon export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore

# auto detect text files and perform LF normalization
* text=auto
