language: php

php:
  - 7.2
  - 7.3

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/behat
  - composer cscheck
  - composer phpstan

after_success:
  - bash <(curl -s https://codecov.io/bash)