name: PHP build

on:
    push:
    pull_request:
    release:
    schedule:
        -   cron: "0 0 1 * *"

jobs:
    run:
        runs-on: ${{ matrix.operating-system }}
        env:
            INFECTION_BADGE_API_KEY: ${{ secrets.INFECTION_BADGE_API_KEY }}
        strategy:
            matrix:
                operating-system: [ubuntu-latest]
                # todo: need to support 7.4 and 8.0 in CI
                php-versions: ['8.1', '8.2']
        name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}
                  coverage: xdebug
                  tools: composer
            - name: Install package
              run: |
                  composer install
            - name: Checks
              run: |
                  composer ci:pack
            - name: Upload codecoverage
              run: |
                  bash <(curl -s https://codecov.io/bash)
